<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuroraMart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'customer_website/css/login_signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'customer_website/script/login_signup.js' %}"></script>
</head>

<body>

    <main class="login-container">
        <nav class="auth-nav">
            <a href="{% url 'login' %}">Login</a>
            <a href="#" class="active">Sign up</a>
        </nav>

        <div class="logo-header">
            {% load static %}
            <img src="{% static 'customer_website/Logo.png' %}" alt="AuroraMart Logo" class="logo-img">
        </div>
        <form class="login-form" method="post">
            {% csrf_token %}
            {{ form.username }}
            <div class="password-container">
                {{ form.password }}
                <i class="fa-solid fa-eye fa-lg" id="togglePassword"></i>
            </div>
            <div class="password-container">
                {{ form.password_check }}
                <i class="fa-solid fa-eye fa-lg" id="togglePassword2"></i>
            </div>
            {{ form.role }}

            {% if error_message %}
            <div class="error-list" style="color: red; font-size: small;">
                {% for error in error_message %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <button id="login-button" type="submit">
                <span class="button-text">Sign up</span>
                <span class="spinner" style="display: none;"></span>
            </button>
        </form>
        <p >Already have an account? <a class="login-confirm" href="{% url 'login' %}">Login here</a>.</p>
    </main>

</body>

</html>