<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuroraMart Admin Panel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/login.css' %}">
    <script src="{% static 'admin_panel/script/spinner.js' %}"></script>
</head>

<body>

    <main class="login-container">
        <nav class="auth-nav">
            <a href="{% url 'admin_login' %}">Login</a>
            <a href="#" class="active">Sign up</a>
        </nav>

        <div class="logo-header">
            {% load static %}
            <img src="{% static 'admin_panel/Logo.png' %}" alt="AuroraMart Logo" class="logo-img">
            <h2>Admin Panel</h2>
        </div>
        <form class="login-form" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            {{ form.password_check }}
            {{ form.role }}

            {% if error %}
            <div class="error-list" style="color: red; font-size: small;">
                <p class="error-message">{{ error }}</p>
            </div>
            {% endif %}

            <button id="login-button" type="submit">
                <span class="button-text">Sign up</span>
                <span class="spinner" style="display: none;"></span>
            </button>
        </form>
        <p >Already have an account? <a class="login-confirm" href="{% url 'admin_login' %}">Login here</a>.</p>
    </main>

</body>

</html>